body {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
}

/*Style untuk bar navigasi*/
nav {
	margin: 0;
	width: 100%;
	height: 80px;
	background-color: #00BFFF;
	box-shadow: 10px 10px 100px #F0F8FF	;
	position: fixed;	
}
nav h1{
	margin:5px;
	float:left;
	font-size: 50px;
	padding-left: 400px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #FFFFFF;
}
nav ul{
	margin: 0;
	padding: 16px;
	float: right;
}
nav li{
	list-style-type: none;
	display: inline-block;
	padding: 0 8px; /*untuk mengatur spasi*/
}

nav li a{
	text-decoration: none; /*mengilangkan garis bawah biru*/
	color: #5F9EA0;
}
/*style untuk logonya*/
nav img{
	float:left;
	width: 70px;
	padding: 5px 5px;
}

/*ini untuk menambah space atas untuk bagian info utama agar tidak ketutupan*/
.nobody{
	height: 80px;
}


/*BAGIAN : INFO UTAMA*/
/*Styke untuk kelas section*/
.section h3{
	margin: 5px;
	color:#3CB371;
}

.section h1{
	margin: 5px;
	color:#98FB98;
	padding-bottom: 40px;
}

.section p{
	margin: 5px;
	line-height: 26px;
	color: #FFFFFF;
}

#info_utama{
	display: flex;
	width: 100%;
	background-color: #00FA9A;
}

#identitas{
	width: 50%;
}

#gambar{
	margin: 20px;	
	width: 50%;
	border-radius: 50px;
	
}

#gambar img{
	border-radius: 50px;
	display: fixed;
	width: 100%;


}


/*Style untuk button*/
.call-me{
	width: 200px;
	margin:10px 10px 10px 200px;
	padding: 10px 10px 10px 10px;
	color: #00ff00;
	background-color: #fff;
	border-radius: 30px;
	border: 1px solid #00ff00;
	transition: 1s; /*biar smooth*/
}

.call-me:hover{
	box-shadow: 0px 10px 20px #ddd;
	background-color: #00ff00;
	color:white;
}

/*BAGIAN: KEAHLIAN*/
#keahlian{
	display: flex;
	width: 100%;
	font-family: 'Cabin', sans-serif;
	border:1px solid black;
	letter-spacing: 1px;
}  
#title_keahlian	{
	margin:0;
	padding:10px;
	font-family: 'Liu Jian Mao Cao', cursive;
	font-size:50px;
	background-color: #66CDAA;
	color: #FFFFFF;
}
#keahlian .keahlian1{
	color:  #32CD32;
	background-color: #90EE90;
}
#keahlian img{
	width: 40%;
	height: 40%;
	letter-spacing: 2px;
	padding-left: 10px;
	border-radius: 50px;
}
#keahlian .keahlian2{
	color: #00BFFF;
	background-color: #AFEEEE;
}
#keahlian .keahlian3{
	color: #778899;
	background-color: #D3D3D3;
}
#keahlian h1{
	padding-left: 10px;
}
#keahlian p{
	background-color: white;
	border-radius: 10px;
}
