body {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
}

/*Style untuk bar navigasi*/
nav {
	margin: 0;
	width: 100%;
	height: 80px;
	background-color: cyan;
	box-shadow: 10px 10px 100px #ddd;
	display: fixed;
	border-radius: 10px;
}
nav ul{
	margin: 0;
	padding: 16px;
	float: right;
}
nav li{
	list-style-type: none;
	display: inline-block;
	padding: 0 8px; /*untuk mengatur spasi*/
}

nav li a{
	text-decoration: none; /*mengilangkan garis bawah biru*/
	color: green;
}

nav img{
	float:left;
	width: 100px;
	padding: 5px 5px;
}


/*Styke untuk kelas section*/
.section h3{
	margin: 5px;
}

.section h1{
	margin: 5px;
}

.section p{
	margin: 5px;
	line-height: 26px;
	color: #00ff00;
}

#info_utama{
	display: flex;
	width: 100%;
}

#identitas{
	width: 50%;
}

#gambar{
	margin: 20px;	
	width: 50%;
	border-radius: 50px;
	
}

#gambar img{
	border-radius: 50px;
	display: fixed;
	width: 100%;


}

/*Style untuk button*/
.call-me{
	margin:10px 10px 10px 150px;
	padding: 10px 10px 10px 10px;
	color: #00ff00;
	background-color: #fff;
	border-radius: 30px;
	border: 1px solid #00ff00;
	transition: 1s; /*biar smooth*/
}

.call-me:hover{
	box-shadow: 0px 10px 20px #ddd;
	background-color: #00ff00;
	color:white;
}